.Menu{
    background-color: rgb(199, 196, 196);
    color: aliceblue;
    position: fixed;
    left: 0;
    height: 100vh;
    width: 250px;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;

}
.Menu.is-open{
    transform: translateX(0);
}
.Menu a{
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    font-size: larger;
    border-bottom: 3px solid rgba(14, 14, 34, 0.183);
}
.Menu a:hover{
    background-color: rgb(52, 53, 78);
    transform: translateX(5px);
}
.Menu p{
    text-align: center;
    font-size: x-large;
    border-bottom: 2px solid rgb(77, 76, 76);
    padding-bottom: 0px;
    color: rgb(20, 68, 103);
}
#toggleBtn{
    width: 150px; 
    height: 45px;
}
.banklogo{
    width: 250px;
    height: 100vh;
    border-radius: 50%;
}
form{
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(85, 74, 200);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 5%;
}
input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



