body{
    background: #466b;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    /* overflow-x: hidden; */
}

.navbar{
    /* border: #94cebd solid; */
    border-radius: 15px;
    background: rgba(77, 106, 106, 0.733);
    color:rgb(8, 30, 24);
    padding:10px 10px;
    position: relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:50px;
}
.navbar a{
    text-decoration: none;
    font-size: large;
    color: aliceblue;
    padding: 10px;
}
.navbar a:hover{
    border-radius: 15px;
    background: #172722;
}
.coverpagecontent{
    height: 300px;
    color:white;
    text-align:center;
    padding:100px 20px;

}
.coverpagecontent img{
    /* background-size: cover;
    background-position: center center; */
    width: 100%;
    height: 100vh;
}
.coverpagecontent h1{
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: left;
    margin-top: 10px;
}
.coverpagecontent p{
    font-size: x-large;
    text-align: left;
}
/* .coverpage{
    width: 100%;
    height: 100vh;
} */
.loginbtn{
    margin: 0 0 0 300px;
    padding:10px 20px;
    text-decoration:none;
    border-radius:10px;
    background:#036b45;
    color:white;
    /* transition: transform 0.3s ease-out; */
}
.loginbtn:hover{
    background-color: #00a86b;
    /* transform: translateY(-3px) translateX(3px)   */
}
 .cards{
    display: flex;
    padding: 25px;
    justify-content: center;
    gap: 30px;
    /* margin-top: 10px; */
    flex-wrap: wrap;
    background-color: #94cebd;
 }
 .card{
    text-align: left;
    padding: 5px;
    border-radius: 15px;
    width: 280px;
    background: #466b65;
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.5), 0 5px 12px rgba(255, 255, 255, 0.5);
 }
 footer{
    background: #466b;
    color:white;
    text-align:center;
    padding:10px;
 }